target/
project/target/
project/project/
.bsp/
.metals/
.idea/
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
derby.log
metastore_db/
**/checkpoint/
.DS_Store
Thumbs.db
__pycache__/
*.pyc
dashboard/venv/
.venv/
data/gold/
data/silver/
docs/
